.board {
  min-width: 290px;
  width: 290px;
  max-height: 100%;
  flex-basis: 290px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.board_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #082d56;
}

.board_header_title {
  font-weight: bold;
  font-size: 1.4rem;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #082d56;
}

.board_header_title span {
  color: #343a40;
  font-size: 1rem;
  font-weight: 500;
}

.board_header_title_more {
  cursor: pointer;
  position: relative;
}

.board_dropdown {
  padding: 2px;
  width: 100px !important;
  cursor: default;
}
.board_dropdown {
  cursor: pointer;
  background-color: white;
  color: #082d56;
  border-radius: 0.25rem;
}

.board_dropdown:hover {
  background-color: rgb(5, 110, 180);
}

.board_cards {
  background-color: #adb5bd;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.board_add-card {
  background-color: #082d56;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.board_add-card_edit {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.kanbanTitle {
  color: #082d56;
  font-family: "Anton", sans-serif;
  font-size: 8vh;
  text-align: center;
}

.projectDesc {
  text-align: center;
}
