.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  border: 1px solid gray;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app_boards_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-top: 20px;
  vertical-align: super;

  /* background-color: #b3cceb; */
}

.app_boards {
  /* width: fit-content; */
  /* padding: 10px 30px; */
  display: flex;
  gap: 40px;
  /* background-color: #b3cceb; */
  align-items: flex-start;
  justify-content: center;
  vertical-align: super;
}

.app_boards_last {
  flex-basis: 290px;
  min-width: 290px;
}

.app_boards_add-board {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: center;
}

.app_boards_add-board_edit {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.app_outer {
  flex: 1;
  width: 100%;
  overflow-x: auto;
  padding: 20px;
}

.userName {
  background-color: #b3cceb;
  text-align: left;
  padding-top: 2%;
  padding-left: 2%;
  font-size: 10vh;
  font-family: "Anton", sans-serif;
  color: white;
}

.projects {
  color: #082d56;
  padding-left: 2%;
  font-size: 6vh;
  font-family: "Anton", sans-serif;
  text-align: center;
  padding-bottom: 1%;
}

.greeting {
  color: rgba(38, 60, 73, 0.699);
  text-align: left;
  font-size: 3vh;
}

.projectCards {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s bezier(0.25, 0.8, 0.25, 1);
}

.projectCards:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  background-color: rgb(70, 169, 226);
  color: white;
}

.projectTitle {
  color: #082d56;
  text-align: center;
  align-items: center;
  font-family: "Anton", sans-serif;
  font-size: 3vh;
  padding-top: 10%;
}

.description {
  color: rgba(0, 0, 0, 0.836);
}

.logo {
  height: 10vh;
  margin-left: 70%;
  background-color: rgb(8, 45, 86);
  border-radius: 10%;
}

.kanbanBoard {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

html,
body {
  width: 100%;
  height: 100%;
}

.body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #101010; */
}


@keyframes repeat {
  0% {
    color: lightblue;
    text-shadow: 5px 5px 30px lightblue;
  }
  20% {
    color: #45aaf2;
    text-shadow: 5px 5px 30px #45aaf2;
  }
  40% {
    color: #2d98da;
    text-shadow: 5px 5px 30px #2d98da;
  }
  60% {
    color: #4b7bec;
    text-shadow: 5px 5px 30px #2d98da;
  }
  80% {
    color: #3867d6;
    text-shadow: 5px 5px 30px #3867d6;
  }
  100% {
    color: lightblue;
    text-shadow: 5px 5px 30px lightblue;
  }
}

.settings {
  font-family: "Anton", sans-serif;
  text-align: center;
  color: #082d56;
  font-size: 3rem;
}

.projUserName {
  font-size: 3vh;
  margin-left: 4%; 
 
}

.deleteArea {
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px;
  padding-bottom: 8px;
  margin-top: 3%;
}

.dangerZone {
  color: red;
  font-size: 30px;
  font-family: "Anton", sans-serif;


}

.currentUser {
  font-family: "Anton", sans-serif;
  color: #082d56;

}

